---
import Layout from "../layouts/Layout.astro";
import Cards from "../components/cards.astro";
import InfoCards from "../components/InfoCards.astro";

// FROM EMPLOYEE DETAIL
const getSessionInfo = [
  {
  employee_id: "CE112",
  name:"น้องมะขาม",
  position:"CE"
  }
]
//  FROM LoveAlarmMessage
const mockWord = [
  {
    employee_id: "CE111",
    name: "รักนะ1",
    topic: "โสด",
    message:
      "ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย",
    recipient: ""
  },
  {
    employee_id: "CE111",
    name: "รักนะ1",
    topic: "โสด",
    message:
      "ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย",
  },
  {
    employee_id: "CE111",
    name: "รักนะ1",
    topic: "โสด",
    message:
      "ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย",
  },
  {
    employee_id: "CE111",
    name: "รักนะ1",
    topic: "โสด",
    message:
      "ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย",
  },
  {
    employee_id: "CE111",
    name: "รักนะ1",
    topic: "โสด",
    message:
      "ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย",
  },
  {
    employee_id: "CE111",
    name: "รักนะ1",
    topic: "โสด",
    message:
      "ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย",
  },
  {
    employee_id: "CE111",
    name: "รักนะ1",
    topic: "โสด",
    message:
      "ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย",
  },
  {
    employee_id: "CE111",
    name: "รักนะ1",
    topic: "โสด",
    message:
      "ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย",
  },
  {
    employee_id: "CE111",
    name: "รักนะ1",
    topic: "โสด",
    message:
      "ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย ขอตังหน่อย ขอหน่อย ขออออออออออออออออออหน่ออยยยยยยยยยยยยย",
  },
];
---

<Layout title="Welcome to Astro.">
  <div class="flex flex-row h-lvh">
    <div class="basis-2/5 bg-white">
      <img src="/img/Background.png" class="object-cover" />
    </div>

    <div class="basis-4/5 p-12">
      <div class="flex flex-row gap-11">
        <!-- <div class="flex flex-col w-[283px]">
          <img class="bg-[#f20044] h-[252px]"/>
          <div class="py-3 px-5">
            <div class="font-bold text-lg text-center bg-gradient-to-r from-pink-500 to-[#f7bd03] text-transparent bg-clip-text">ชื่อคน</div>
            <div class="font-thin text-xs flex-auto text-center">
              "คำขวัญประจำใจ"
            </div>
          </div>
        </div> -->
        {
          getSessionInfo.map((each) => (
            <InfoCards
              employee_id={each.employee_id}
              name={each.name}
              position={each.position}
            />
          ))
        }
        <div class="flex flex-col gap-6 flex-auto">
          <div>
            <img class="" src="/img/YEARBOOK 2024.png"/>
            <div class="max-w-[633px]">
              <p class="font-thin text-xs py-5 break-words">
                CBA is a journey where people come together, where laughter
                resonates from the bottom of their hearts, and where individuals
                are given the opportunity to embrace their weaknesses and dare
                to challenge them. No matter how you define it, CBA would not be
                what we perceive it to be without each other along the journey.
                Remember, CBA is just a place, but because of all of you, we
                create precious stories.
              </p>
              <p class="font-extrabold text-xs break-words bg-gradient-to-r from-pink-500 to-[#f7bd03] text-transparent bg-clip-text">
                Roses are red, violets are blue,
                CBA wouldn't be what it is now,
                if I had to sail this journey without you.
                (Shakespeare ไม่ได้กล่าว)
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="pt-8">
        <div class="flex flex-col gap-2">
          <p class="font-bold text-lg ">สารจากไอส้ม</p>
          <div class="border bg-pink-100 p-4 rounded-lg">
          <p
            class="px-6 bg-gradient-to-r from-pink-500 to-[#f7bd03] text-transparent bg-clip-text"
          >
            "ถึงเหล่า CBA ที่สู้ชีวิตทุกคนนน ขอขอบคุณสำหรับความพยายาม
            หวังว่าการเดินทางของเพื่อน ๆ กับไอส้มครั้งนี้จะได้อะไรไม่มากก็น้อย
            ลองคิดดูนะว่าเรามาถึงจุดนี้ได้ยังไง
            ถึงอาจจะมีอุปสรรคหรือไม่สมหวังในบางเรื่อง
            ส้มเชื่อว่าทุกคนต้องได้อะไรกลับไปไม่มากก็น้อยคับ
            การเดินทางต่อจากนี้ไปขอให้เชื่อมั่นในความฝันของตัวเองนะคับ
            ขอให้โชคดี..."
          </p>
          <p class="text-xs text-slate-700 px-6">
            ด้วยรักและความหวังดีจาก ไอส้ม (หมาชิบะที่เป็นไอโกลเด้นให้เทอไม่ได้)
          </p>
        </div>
        </div>
      </div>

      <div>
        <p
          class="font-bold text-4xl py-8 text-center bg-gradient-to-r from-pink-500 to-[#f7bd03] text-transparent bg-clip-text"
        >
          สารจากเพื่อน ๆ CBA
        </p>
        <div
          class="grid grid-cols-3 gap-11 overflow-x-auto h-[450px]"
        >
          {
            mockWord.map((each) => (
              <Cards
                employee_id={each.employee_id}
                name={each.name}
                topic={each.topic}
                message={each.message}
              />
            ))
          }
        </div>
        <div class="flex justify-center">
          <button
            class="animate-bounce bg-white dark:bg-slate-800 p-2 w-10 h-10 ring-1 ring-slate-900/5 dark:ring-slate-200/20 shadow-lg rounded-full"
          >
            <svg
              class="w-6 h-6 text-[#f2bd04]"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</Layout>
